<div id="appointment" class="ng-cloak" ng-show="apptViewVisible">

	<div class="appt-container">
		<div class="appt-progress none">
			<h2>Saving appointment</h2>
			<div class="indicator"></div>
		</div>

		<div class="appt-edit" ng-show="apptView.timeSlot.id">
			<h2>\{{apptView.title}}</h2>

			{{> appointment-details}}

			<div class="appt-detail cancel"><strong>Cancel this appointment?</strong></div>

			<form class="buttons">
				<button ng-click="calendar.cancelAppt(apptView)" ng-show="apptView.timeSlot.id">Yes</button>
				<button ng-click="calendar.closeApptView()">No</button>
			</form>
		</div>

		<div class="appt-create" ng-hide="apptView.timeSlot.id">
			<h2>\{{apptView.title}}</h2>

			{{> appointment-details}}

			<div class="appt-detail checkbox">
				<input type="checkbox" ng-model="checkboxModel.value1">
					Send email confirmation
				</input>
			</div>

			<div class="appt-detail checkbox">
				<input type="checkbox" ng-model="checkboxModel.value2">
					Send email reminder before appointment
				</input>
			</div>

			<form class="buttons">
				<button type="submit" ng-click="calendar.addAppt(apptView)">Save</button>
				<button ng-click="calendar.closeApptView()">Cancel</button>
			</form>
		</div>
	</div>
</div>