<div class="appt-detail coach">
	<strong>Coach: </strong>Coach Smith
</div>

<div class="appt-detail date">
	<strong>Date: </strong>\{{apptView.displayDate}}
</div>

<div class="appt-detail time">
	<strong>Time: </strong>\{{apptView.displayTime}}
</div>