<!DOCTYPE html>
<html ng-app="CalendarController">
<head>
    <meta charset="utf-8">
    <title>CoachMe Appointment Calendar</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/scripts/main.js"></script>
</head>
<body ng-controller="CalendarController as calendar">

	<header>
		<a href="/" class="arivale-logo" title="Your scientific path to wellness"></a>
		<nav>
			<ul>
				<li><a href="#">What you get</a></li>
				<li><a href="#">How it works</a></li>
				<li><a href="/appointment-calendar">Make appointment</a></li>
			</ul>
		</nav>
	</header>

    {{{body}}}

</body>
</html>