// Appointment view for creating, editing appoinments
//==================================================

#appointment {
	background-color: rgba(0,0,0,.6);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10;
	font-size: 18px;
	transform-style: preserve-3d;

	.appt-container{
		background-color: white;
		width: 380px;
		height: 260px;
		padding: 30px;
		border: solid 1px #ccc;
		border-radius: 16px;
		margin: auto;
		@include vertical-align();

		h2 {
			font-size: 28px;
			margin: 0 0 20px 0;
		}

		.appt-progress{
			.indicator{
				background-image: url('/img/progress.gif');
				margin: auto;
				width: 31px;
				height: 31px;
			}
		}

		.appt-create, .appt-edit {

			.appt-detail{
				margin-bottom: 8px;

				&.time{
					margin-bottom: 12px;
				}

				&.checkbox{
					font-size: 14px;
				}

				&.cancel{
					margin-top: 24px;
				}

				input{
					margin-right: 10px;
				}
			}

			button {
				@include button-base();
				background-color: $accent-blue-2;
			}

			button:hover {
				@include button-base-hover();
				background-color: $accent-blue-3;
			}

			form{
				width: 171px;
		    	margin: 30px auto 0 auto;
			}
		}
	}
}