// Timeslots styles within individual calendar dates
//==================================================

.timeslot {
	float: left;
	border-top: solid 1px #ddd;
	width: 94%;
	padding: 2px 4px;
	text-align: left;

	.timeslot-msg{
		font-weight: bold;
	}

	&:hover {
		cursor: pointer;
		background-color: $accent-green-1;
		color: $accent-green-2;
	}

	&.closed {
		color: #eee;
	}

	&.closed:hover {
		cursor: auto;
		background-color: transparent;
	}

	&.scheduled {
		color: $accent-orange-3;
		background-color: $accent-orange-1;
	}

	&.scheduled:hover {
		cursor: pointer;
		background-color: $accent-orange-2;
	}

	&.error {
		color: white;
		background-color: $accent-red-1;
	}

	&.error:hover {
		cursor: pointer;
	}
}