// Calendar base
//==================================================

#calendar {

	.page-title {
		padding-top: 0px;
		margin-top: 0px;
	}

	#time-range-selector{
		width: 45.6%;
		height: 150px;
		border: solid 1px #ccc;
		margin: 0 3.5% 40px 0;
		padding: 10px;
		float: left;
	}

	#coach-bio{
		width: 45.6%;
		height: 150px;
		border: solid 1px #ccc;
		margin-bottom: 40px;
		padding: 10px;
		float: left;

		.coach-photo{
			border: solid 1px #ccc;
			width: 50px;
		}
	}

	.day-labels span {
		float: left;
		width: 14.28%;
		text-align: center;
	}

	.days div {
		padding: 4px 4px 0 4px;
		border: solid 1px #ccc;
		height: 110px;
		width: 13.12%;
		float: left;
		text-align: right;

		&.blocked {
			background-color: #eee;
			color: #bbb;
		}
	}
}