// Base styles
//==================================================

html {
	color: $base-font-color;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: $base-font-size;
}

body {
	background-color: #eee;
}

h1, h2, h3 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.none{
	display: none;
}

#content {
	width: 60%;
	min-width: 860px;
	background-color: white;
	margin: 0 auto;
	padding: 80px 20px;
}

.page-msg{
	padding-top: 80px;
}

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}