@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin button-base() {
	padding: 10px 14px;
	margin-right: 6px;
	border: solid 1px #ccc;
	border-radius: 4px;
	background-color: #ccc;
	font-size: 16px;
	color: white;
}

@mixin button-base-hover(){
	background-color: #aaa;
}