{{>appointment}}

<div id="content">

	<h1 class="page-title">September</h1>

	<div id="calendar" class="clearfix">

		<div class="day-labels">
			<span>S</span>
			<span>M</span>
			<span>T</span>
			<span>W</span>
			<span>T</span>
			<span>F</span>
			<span>S</span>
		</div>
		
		<div class="days ng-cloak">
			<div ng-repeat="date in dates" class="\{{date.status}}">
				\{{date.date_num}}
				<span ng-repeat="timeSlot in date.timeSlots" class="timeslot \{{timeSlot.status}}" ng-click="calendar.openApptView(timeSlot)">
					\{{timeSlot.display_time}}
					<span class="timeslot-msg">\{{timeSlot.message}}</span>
				</span>
			</div>
		</div>

	</div>
</div>