// Header styles
//==================================================

header {
	background-color: white;
	height: 48px;
	width: 100%;
	box-shadow: 0 2px 2px #ccc;
	position: fixed;
	padding: 6px 20px;
	font-size: 15px;
	font-family: 'Open Sans';
	font-weight: bold;
	z-index: 5;

	.arivale-logo {
		background-image: url('/img/logo.png');
		background-size: cover;
		width: 110px;
		height: 40px;
		float: left;
	}

	nav {
		float: left;

		li {
			list-style: none;
			display: inline;
			padding-left: 40px;
		}
	
		a {
			color: $base-font-color;
			text-decoration: none;
		}

		a:hover {
			color: #999;
		}
	}

}