<div id="appt-overlay" class="ng-cloak" ng-class="{none: apptViewVisible == false}">
	<div class="appt-container">
		<h2>Schedule an appointment</h2>
		<div><strong>Coach:</strong> CoachName GoesHere</div>
		<div><strong>Date: </strong> \{{apptView.displayDate}}</div>
		<div><strong>Time: </strong> \{{apptView.displayTime}}</div>
		<form class="buttons">
			<button type="submit" ng-click="calendar.saveAppt(apptView)">Save</button>
			<button ng-click="calendar.closeApptView()">Cancel</button>
		</form>
	</div>
</div>